body {
  background: #222d2d url("https://static.vecteezy.com/system/resources/previews/005/909/538/non_2x/black-and-blue-overlapping-abstract-modern-background-with-overlapping-triangle-decoration-small-dot-background-texture-decoration-suitable-for-backdrops-wallpapers-banners-websites-eps-10-free-vector.jpg") repeat-x 0 0;
  background-size: cover;
  align-content: center;
  text-align: center;
  text-justify: auto;
  justify-content: center;

  /* margin: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}